section.hero {
	background: var(--accent-primary);
	display: flex;
}

.hero .intro {
	flex: 1;
	padding: 20px;
	font-size: 2rem;
	font-family: "Poppins", sans-serif;
}

.hero .showcase {
	flex: 1;
}

.showcase img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}